
export(quantsmooth, quantsmooth.ol, quantsmooth.cv, getLambdaMin, plotSmoothed, 
       getChangedRegions, getChangedIdx, numericCHR, characterCHR, scaleto, plotChromosome,
       prepareGenomePlot, paintCytobands, lengthChromosome, drawSimpleChrom)
